@media screen and (max-width: 800px) and (min-width: 240px){
	.flexslider{max-height:200px; overflow:hidden;}

	.page_width{width:100%; padding:0px 10px;}
	/*.top_title{ padding-top:15px;}*/
	#menu ul li{font-size:12px;}
	#menu ul li a{padding:0px 6px;}
	.form_area{width:100%;}
	
	.slider .col{margin-bottom:10px; overflow:hidden; height:90px;}
	
/*	.slider .col{width:33.3%; padding:0% 1%;}
*/
	/*.slider .col:nth-child(4n){clear:both;} */
	
	.table{display:none;}
	.list_view{display:block;}
}
@media screen and (max-width: 650px) and (min-width: 240px){
	.flexslider{max-height:150px; overflow:hidden;}

	.page_width{width:100%; padding:0px 7px;}
	h1{font-size:17px; margin-bottom:10px; }
	/*.video_page h1{ margin-bottom:0px;}*/

	.search_bar{width:180px;}
	#header{background:url(../images/phone_img.jpg) 40% bottom no-repeat; background-size:30%;}
	#header .left{width:40%;}
	
	
	#header{display:none;}
	#menu{display:none;}
	.mMenu{display:block;}
	.mMenu2{display:block;}
	
	#menu{box-shadow:none; height:auto; padding:0px; padding-bottom:15px; border-radius:0px; background-color:none; display:none; /*margin-bottom:20px;*/ }
	#menu ul{width:100%; height:auto; background-color:#FFF; padding:0px;}
	#menu ul li{border-bottom:solid 1px #CCCCCC; float:none; width:100%; height:auto; line-height:normal;}
	#menu ul li a{display:block; padding:7px; text-decoration:none; color:#000;}
	#menu ul li a:hover{background-color:#F9F9F9; box-shadow:none;}
	#menu ul li ul{display:none; background-color:#EEE; position:inherit; width:100%; top:0px; left:0px;}
	
	.mMenu_icon{display:block;}
	.video_page .left, .video_page .right{float:none; width:100%;}
	
	#footer .left{float:none; width:100%; margin-bottom:20px;}
	#footer .left .input{width:100%;}
	#footer .right{float:none; width:100%;}
	#footer .left li{text-align:left;}
	#footer .right li{text-align:left; margin-bottom:5px;}
	
	.title_bar{height:auto; background-color:#FFF; padding:0px;}
	.title_bar .left{float:none; width:100%; font-size:15px;}
	.title_bar .right{float:none; width:100%; background-color:#F2F2F2;}

	.featured .prod_left{ width:100%; padding-right:0px; margin-bottom:15px; float:none; }
	.featured .prod_right{ width:100%; float:none; }

}
@media screen and (max-width: 480px) and (min-width: 240px){
	.flexslider{max-height:100px; overflow:hidden;}

	.title_bar ul li{font-size:11px; padding:0px 7px;}
	.title_bar{ margin-top:0px; }
	.form_area{width:100%;}
	.form_area .label{width:35%;}
	.form_area .input{padding-left:45%;}

	.mMenu{padding:0px 7px;}
	.mMenu ul li{font-size:11px;}
	.mMenu_dropdown{font-size:11px; display:block;}
		
	.video_page .left, .video_page .right{float:none; width:100%;}
	.listing .item1{width:100%;}
	#header{background:none;}
	#header .left{float:none; width:100%; text-align:center; background:none;}
	#header .right{float:none; width:100%;}
	#header .right ul li{text-align:center;}
	#header .right ul li .search_bar{width:100%;}
	.listing .item1{ width:100%; margin-bottsom:10px;}
	
	.slider .left, .slider .right{width:100%; float:none;}
	.slider .left{margin-bottom:20px;}
	
	.video_page .title_bar ul li{padding-right:8px;}
	
	/*.video_page .title_bar{background-color:#FFFFFF; padding:0px; height:auto; border:0px; box-shadow:none;}
	.video_page .title_bar ul{height:auto; line-height:120%;}
	.video_page .title_bar ul li{padding:0px; line-height:120%; margin:0px; height:auto; width:100%; float:none; padding:7px 0px;}
	.video_page .title_bar ul li.selected{box-shadow:0px 1px 0px #DDD;}
	.video_page .title_bar ul li:hover{box-shadow:0px 1px 0px #DDD;}*/
	.advance_search ul.list li{float:none; width:100%; margin-right:0%; margin-bottom:15px;}
	
	/*.slider .col{width:50%; padding:0% 1%;}
	.slider .col:nth-child(4n){clear:none;}
	.slider .col:nth-child(3n){clear:both;}*/

	.rating_buttons ul li ul{ position:absolute;left:auto; right:0px; border-radius:0px 0px 5px 5px;} 
	
}
@media screen and (max-width: 480px) and (min-width: 240px){
	.detail_image{
		min-height:200px;
		max-height:200px;
	}
	.detail_image .float_right{
		margin-top:10px;
	}
	.detail_image .opcasy{
		height:20%;
	}
	#header .left { padding-top: 20px; }
	.form_area .input{padding-left:40%;}
	.thumbs .image{width:100%; height:50px; margin-bottom:10px; text-align:center; overflow:hidden;}
	.thumbs .caption{font-size:11px;}
	#footer  ul   li{font-size:11px;}
	#footer .left p{font-size:11px;}
	.pagination ul li{font-size:11px;}
	.pagination ul li a{padding:0px 5px;}
	.video_page .title_bar{padding:0px 10px;}
}
