@font-face {
	font-family:'RobotoCondensed-Regular';
	src:url('fonts/robotocondnsense/regular/RobotoCondensed-Regular.eot?') format('eot'), 
		url('fonts/robotocondnsense/regular/RobotoCondensed-Regular.woff') format('woff'), 
		url('fonts/robotocondnsense/regular/RobotoCondensed-Regular.ttf')  format('truetype'),
		url('fonts/robotocondnsense/regular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
}


body{margin:0px; padding:0px; font-size:13px; font-family:Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6,p,ul,ol,li,span,input,textarea,select,img,section,header,footer,div{margin:0px; padding:0px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

#container{width:100%;}
.full_width{width:100%;}
.page_width{width:960px; text-align:left;}
.clearfix{clear:both;}
.left{float:left;}
.right{float:right;}
a img{border:0px;}
.show{display:block;}
.hide{display:none;}

img{max-width:100%;}

.slider .image{height:130px; overflow:hidden; margin-bottom: 10px;}

a{color:#0089CD; text-decoration:none;}

.input{width:100%; height:32px; padding:0px 7px; background-color:#FFFFFF; border:1px solid #BBBBBB; border-radius:7px; box-shadow:inset 0px 0px 3px rgba(0,0,0,0.10), inset 0px 0px 1px rgba(255,255,255,1), 0px 0px 4px rgba(0,0,0,0.07);}
.input2{width:100%; height:32px;  line-height:32px; padding:5px 7px; background-color:#FFFFFF; border:1px solid #BBBBBB; border-radius:7px; box-shadow:inset 0px 0px 3px rgba(0,0,0,0.10), inset 0px 0px 1px rgba(255,255,255,1), 0px 0px 4px rgba(0,0,0,0.07);}

.btn{background-color:#515151; border:0px; border-radius:5px; color:#FFFFFF; padding:5px 15px 5px 15px; box-shadow:inset 0px 0px 1px rgba(0,0,0,1); font-size:15px; font-weight:bold; border:solid 1px #000000; box-shadow:inset 0px 1px 0px rgba(255,255,255,0.30), 0px 0px 4px rgba(0,0,0,0.20);}
.btn:hover{background-color:#7A7A7A; cursor:pointer;}

.btn2{ background-color:#028CD2; color:#FFFFFF; text-align:center; float:right; font-weight:bold; margin:0px 0px 10px 10px; border-radius:5px;  box-shadow: 0px 3px 0px rgba(0,111,166,1); box-shadow: inset 0px 1px 0px rgba(255,255,255,0.30);
	  font-family:'RobotoCondensed-Regular'; font-size:16px; text-shadow: 0px 2px 0px rgba(0,0,0,0.30); overflow:hidden;
	
	background-image:linear-gradient(#10AAF8, #028CD2);
	background-image:-webkit-linear-gradient(#10AAF8, #028CD2);
	background-image:-moz-linear-gradient(#10AAF8, #028CD2);
	background-image:-ms-linear-gradient(#10AAF8, #028CD2);
	background-image:-o-linear-gradient(#10AAF8, #028CD2);

}
.btn2.last{ margin-right:0px;}
.btn2 a{color:#FFFFFF; text-decoration:none; display:block; padding:6px 12px;}
.btn2 a:hover{ background-color:#028DD3;}


h1{font-size:25px; color:#585858; margin-bottom:10px; font-family:'RobotoCondensed-Regular'; text-align:right;}
h2{font-size:17px; color:#585858; line-height:40px; text-align:right;}

p{color:#929292; margin-bottom:10px; line-height:140%; text-align:right;}





#header{width:100%; background:url(../images/phone_img.jpg) 270px 21px no-repeat; padding-bottom:20px;}
#header .left{width:30%; padding-top:45px; float:left;}
#header .left img{max-width:100%;}

#header .right{width:60%; float:right;}
#header .right ul li{list-style-type:none; margin-top:15px; font-size:13px; text-align:right;}
#header .right ul li a{color:#000; text-decoration:none;}
#header .right ul li a:hover{ color:#004465; text-decoration:underline;}
.search_area{position:relative;}
#footer .search_area{position:relative; width:240px;}
.search_bar{width:240px; padding:0px 45px 0px 35px; background:url(../images/icons/search_icon.png) left center no-repeat; background-color:#FFF;}
.go_btn{width:40px; height:32px; background:url(../images/icons/go_btn.png) 0 0px no-repeat; position:absolute; top:0px; right:0px; cursor:pointer; border:0px; }

#menu{width:100%; height:44px; border-radius:7px 7px 0px 0px; box-shadow:inset 0px -3px 3px rgba(0,0,0,0.20), inset 0px 22px 3px rgba(255,255,255,0.33); padding:0px 20px; margin-bottom:20px;
	background-image:linear-gradient(#10ABF9, #0088CC);
	background-image:-webkit-linear-gradient(#10ABF9, #0088CC);
	background-image:-moz-linear-gradient(#10ABF9, #0088CC);
	background-image:-ms-linear-gradient(#10ABF9, #0088CC);
	background-image:-o-linear-gradient(#10ABF9, #0088CC);
	

}
#menu ul{height:44px;}
#menu ul li{height:44px; font-size:14px; position:relative; font-weight:normal; line-height:44px; color:#FFFFFF; font-weight:bold; list-style-type:none; float:right; font-family:'RobotoCondensed-Regular';}
#menu ul li a{color:#FFFFFF; text-decoration:none; padding:0px 12px 0px 12px; display:block;}
#menu ul li a:hover{color:#000; background-color:#FFF; box-shadow:0px -3px 0px rgba(15,169,246,1); display:block;}

#menu ul li:hover > ul{display:block;}
#menu ul li.selected a{color:#000; background-color:#FFF; box-shadow:0px -3px 0px rgba(15,169,246,1); display:block;}
#menu ul li ul{width:200px; overflow:hidden; height:auto; background-color:#028ACE; position:absolute; z-index:2000; top:44px; left:0px; border-radius:5px; border-top-left-radius:0px; border-top-right-radius:0px; display:none; box-shadow:inset 0px 1px 0px #FFFFFF;}
#menu ul li ul li{color:#FFF; float:none; display:block; color:#333333; text-align:right;}

.mMenu{
	margin-top:2px;
	width:100%; height:44px; border-radius:7px 7px 0px 0px; box-shadow:inset 0px -3px 3px rgba(0,0,0,0.20), inset 0px 22px 3px rgba(255,255,255,0.33); padding:0px 20px;
	background-image:linear-gradient(#10ABF9, #0088CC);
	background-image:-webkit-linear-gradient(#10ABF9, #0088CC);
	background-image:-moz-linear-gradient(#10ABF9, #0088CC);
	background-image:-ms-linear-gradient(#10ABF9, #0088CC);
	background-image:-o-linear-gradient(#10ABF9, #0088CC);
	display:none;
}
.mMenu .left, .mMenu .right{padding-top:13px;}
.mMenu ul{height:20px;}
.mMenu li{list-style-type:none; height:20px; float:left; margin-left:12px; cursor:pointer; line-height:20px; color:#FFFFFF;}


.mMenu_dropdown{/*margin-bottom:20px;*/}
.mMenu_dropdown ul.active{display:block;}
.mMenu_dropdown ul{width:100%; background-color:#F7F7F7; padding:0px; display:none;}
.mMenu_dropdown ul li{list-style-type:none; width:100%; border-bottom:solid 1px #CCCCCC;}
.mMenu_dropdown ul li a{display:block; padding:7px 10px; color:#000;}
.mMenu_dropdown ul li a:hover{background-color:#FFF;}



.title_bar{height:40px; background-color:#F2F2F2; box-shadow:0px 1px 0px #AAAAAA; border-radius:7px 7px 0px 0px; padding:0px 20px; margin-bottom:10px;}
.title_bar h2{text-align:center;}
.title_bar .left{height:35px; font-size:17px; color:#585858; line-height:40px; text-shadow:0px 0px 4px rgba(255,255,255,0.70); float:right;}
.title_bar .right{height:40px; float:left;}
.title_bar ul{height:40px;}
.title_bar ul li{height:40px; line-height:40px; font-size:13px; color:rgba(0,0,0,0.60); font-family:Arial, Helvetica, sans-serif; float:left; list-style-type:none; padding:0px 12px;}
.title_bar ul li.selected{background-color:#FFF; box-shadow:0px 1px 0px rgba(255,255,255,1), 0px -2px 0px #999999;}
.title_bar ul li:hover{background-color:#FFF; box-shadow:0px 1px 0px rgba(255,255,255,1), 0px -2px 0px #999999; cursor:pointer;}

.slider .col{width:25%; padding:0% 1%; margin-bottom:10px; float:left;}
.featured .slider .col{width:25%; padding:0% 1%; margin-bottom:25px; float:right;}


/*.slider_area{margin-bottom:50px;}
.slider ul{list-style:none; display:block;}
.slider li{display:block; float:left; margin:0 8px;}
.slider.responsive{width:auto;}

.slider .col{width:25%; padding:0% 1%; margin-bottom:25px; float:left;}
.thumbs{width:100%; position:relative;}
.thumbs .image{ width:100%; height:130px; margin-bottom:10px; text-align:center; overflow: hidden; }

.thumbs .image img{min-width:100%; max-width:100%; width: 100%;border:2px solid #FFF; box-shadow:0px 0px 1px #666, 0px 1px 0px #666; z-index:0;


-webkit-transition: margin-top .5s ease-out;  
        -moz-transition: margin-top .5s ease-out;  
        -ms-transition: margin-top .5s ease-out; 
        -o-transition: margin-top .5s ease-out; 
        transition: margin-top .5s ease-out;

}


.thumbs .caption{width:100%; color:#616161; text-align:right;}
.play_btn{width:45px; height:44px; background:url(../images/icons/play_icon.png) 0px 0px no-repeat; position:absolute; top:28%; left:40%;}*/


.thumbs .caption{width:100%; color:#616161; word-wrap:break-word;}
.play_btn{width:45px; height:44px; background:url(../images/icons/play_icon.png) 0px 0px no-repeat; position:absolute; top:28%; left:40%;}

#footer{width:100%; margin-top:15px; padding-top:20px; padding-bottom:30px; border-top:3px solid #EEEEEE; box-shadow:0px -1px 0px rgba(187,187,187,1); }
#footer .left{ float:left;}
#footer .right{ float:right;}
#footer ul li{list-style-type:none; margin-bottom:10px; color:#616161; font-size:13px;}
#footer ul li a{padding:0px 2px;}

#footer ul li .search_bar{background:none; background-color:#FFF; padding-left:7px;}
#footer .right li{text-align:right;}

.form_area{width:60%; border:solid 1px #CCCCCC; padding:15px; margin-top:15px; border-radius:7px; background-color:#F9F9F9; float:right;}
.form_area ul li{list-style-type:none; position:relative; margin-bottom:10px;}
.form_area .label{width:20%; height:32px; line-height:32px; border-radius:0px 7px 7px 0px; border:solid 1px #BBBBBB; color:#484848; text-shadow:1px 1px 0px rgba(255,255,255,0.60); text-align:right; padding:0px 10px; position:absolute; top:0px; right:0px;
	background: linear-gradient(left, #EBEBEB 50%, #ffffff 100%);
	background: -webkit-linear-gradient(left, #EBEBEB 50%, #ffffff 100%);
	background: -moz-linear-gradient(left, #EBEBEB 50%, #ffffff 100%);
	background: -ms-linear-gradient(left, #EBEBEB 50%, #ffffff 100%);
	background: -o-linear-gradient(left, #EBEBEB 50%, #ffffff 100%);
}
.form_area .input{padding-right:23%; text-align:right;}
.form_area .triangle{position:absolute; top:0px; right:0px; width:17px; height:32px; background:url(../images/triangle2.png) 0 0px no-repeat; display:none;}
.form_area li.remember{color:#666; margin-top:15px;}
.form_area li.remember input{margin:2px 7px 0px 5px;}
.form_area li.button{text-align:right;}



.video_image{ margin-bottom:20px;}
.video .btn{ padding:6px 12px; background-color:#CCCCCC; color:#00F; float:left; margin-right:10px; margin-bottom:10px; }
.video .btn:hover{ background-color:#006633;}

.accord_head{border-radius:4px 4px 4px 4px; margin-bottom:15px; cursor:pointer;  text-align:right; font-size:13px; color:#666; padding:7px 30px 7px 10px; font-weight:normal; position:relative; border:solid 1px #D2D2D2; text-shadow:1px 1px 0px rgba(255,255,255,0.4); line-height:130%;}
.accord_head:hover{color:#02618E;}
.accord_contents{margin-bottom:20px; display:none; padding:0px 7px;}
.expand{background:url(../images/icons/collapse_btn.png) right center no-repeat; background-color:#F5F5F5; color:#02618E;}
.collapse{background:url(../images/icons/expand_btn.png) right center no-repeat; background-color:#F5F5F5;}

.video_page .left{width:65%; float:left;}
/*.video_page h1{margin-bottom:20px;}*/
.video_page .full_width img{ max-width:100%;}
/*.video_page .left .input{border-radius:0px; height:40px; font-size:16px; margin-top:15px; margin-bottom:20px;}*/
.video_page .right{width:32%; float:right;}

/*.video_page .title_bar{background-color:#FFFFFF; padding:0px;}
.video_page .title_bar ul li{padding:0px; padding-right:20px; margin:0px; float:right;}
.video_page .title_bar ul li.selected{border:0px; box-shadow:none;}
.video_page .title_bar ul li.selected a{color:#09F;}
.video_page .title_bar ul li:hover{box-shadow:none;}
.video_page .title_bar ul li a{color:#333; text-decoration:none; display:block;}
.video_page .title_bar ul li a:hover{color:#09F;}*/

.video_page .title_bar ul li{padding:0px; padding-right:20px; margin:0px; float:right;}
.video_page .title_bar{background-color:#F2F2F2;}


/*
.featured .item{width:100%; border-bottom:solid 1px #CCCCCC; padding-bottom:15px; margin-bottom:15px;}
.featured .item:hover{border-color:#0099FF;}
.featured .image{width:34%; min-height:70px; float:right;}*/

.featured .details{width:65%; float:left;}
.featured p{ padding-right:10px;}
.featured .details p.title{font-weight:bold; margin-bottom:3px; color:#000000;}
.featured .details p.title a{ color:#000000; text-decoration:none;}
.featured .details p.by{color:#666666; margin-bottom:2px; font-size:12px;}
.featured .details p.views{color:#666666; font-size:12px;}

.add img{max-width:100%; margin-bottom:15px;}


.category ul{ margin-bottom:20px;}
.category ul li{list-style-type:none; padding:4px 0px; color:#666666; border-bottom:solid 1px #CCCCCC; text-align:right;}
.category ul li a{color:#666666; display:block; text-decoration:none;}
.category ul li a:hover{ color:#06F;}

.listing{width:100%; margin-bottom:20px;}
.listing p{ padding-right:10px;}
.listing .item1{width:49%; border-bottom:solid 1px #CCCCCC; padding-bottom:15px; margin-right:2%; margin-bottom:10px; float:right; }
.listing .item1.last{ margin-right:0%;}


.advance_search ul{list-style-type:none; margin-bottom:20px;}
.advance_search ul.list li{float:right; width:30%; padding-left:3%;}
.advance_search ul.list li .input, .advance_search ul.list li .input2{border-radius:0px;}
.advance_search ul li.button{text-align:right;}


.news_item{width:100%; border-bottom:solid 4px #DDD; margin-bottom:20px; background-color:#F8F8F8; padding:15px; border-radius:7px;}
.news_item p{margin-bottom:10px; line-height:150%; font-size:12px; text-shadow:1px 1px 0px #FFF;}
.news_item p.title{font-size:15px; color:#038FD5; margin-bottom:7px; line-height:120%; text-shadow:0px 0px 2px #FFF; font-family:'RobotoCondensed-Regular'; font-weight:bold;}
.news_item p.date{font-size:11px; color:#666; margin-bottom:7px; line-height:100%;}

.pagination_total {
	text-align: right;
	padding-top: 20px;
	padding-right: 8px;
}



.pagination ul{height:26px; float:right; border-bottom: solid 0px; }
.pagination ul li{list-style-type:none; height:26px; line-height:26px; margin-right:4px; float:right;  padding: 0px 0px; }
.pagination ul li a{display:block; padding:0px 10px; color:#333333; text-decoration:none; text-shadow:1px 1px 0px #FFF; font-weight:bold; border:solid 1px #AFAFAF; box-shadow:inset 0px 0px 1px #FFF, 0px 1px 1px rgba(0,0,0,0.10); border-radius:4px;
background-image:linear-gradient(#FCFCFC, #F4F4F4);
background-image:-webkit-linear-gradient(#FCFCFC, #F4F4F4);
background-image:-moz-linear-gradient(#FCFCFC, #F4F4F4);
background-image:-ms-linear-gradient(#FCFCFC, #F4F4F4);
background-image:-o-linear-gradient(#FCFCFC, #F4F4F4);
}
.pagination ul li.active a{background-image:none; background-color:#0088CC; color:#FFFFFF; text-shadow:none;}
.pagination ul li a:hover{background-image:none; background-color:#0088CC; color:#FFFFFF; text-shadow:none;}
.disable_color a:hover{ cursor:default; background-color:#000; }
.pagination ul li span{display:block; padding:0px 10px; color:#333333; text-decoration:none; text-shadow:1px 1px 0px #FFF; font-weight:bold; border:solid 1px #AFAFAF; box-shadow:inset 0px 0px 1px #FFF, 0px 1px 1px rgba(0,0,0,0.10); border-radius:4px;
background-image:linear-gradient(#FCFCFC, #F4F4F4);
background-image:-webkit-linear-gradient(#FCFCFC, #F4F4F4);
background-image:-moz-linear-gradient(#FCFCFC, #F4F4F4);
background-image:-ms-linear-gradient(#FCFCFC, #F4F4F4);
background-image:-o-linear-gradient(#FCFCFC, #F4F4F4);
cursor:default;
}


#skin-wrapper {
	float: right;
}


.rating_buttons{float:right;}
ul.rating_buttons {height:40px;}
ul.rating_buttons li{ list-style-type:none; height:40px; line-height:40px; background-color:#028CD2; color:#FFFFFF; text-align:center; float:left; font-weight:bold; margin:0px 10px 10px 0px; border-radius:5px; box-shadow: 0px 3px 0px rgba(0,111,166,1); box-shadow: inset 0px 1px 0px rgba(255,255,255,0.30);
font-family:'RobotoCondensed-Regular'; font-size:16px; text-shadow: 0px 2px 0px rgba(0,0,0,0.30);
background-image:linear-gradient(#10AAF8, #028CD2);
background-image:-webkit-linear-gradient(#10AAF8, #028CD2);
background-image:-moz-linear-gradient(#10AAF8, #028CD2);
background-image:-ms-linear-gradient(#10AAF8, #028CD2);
background-image:-o-linear-gradient(#10AAF8, #028CD2); position:relative;


}
ul.rating_buttons li a { padding:0px 10px; color:#FFFFFF; display:block; text-decoration:none; }
ul.rating_buttons li a:hover{ background-color:#028DD3; border-radius:5px;}
ul.rating_buttons li:hover > ul { display:block;}

ul.rating_buttons li ul{width:150px; height:auto; overflow:hidden; position:absolute; top:35px; z-index:2000; left:0px; background-color:#10AAF8; border-radius:0px 0px 5px 5px; display:none;}
ul.rating_buttons li ul li{background-image:none; border-radius:0px; font-size:13px; margin:0px; text-align:left; display:list-item; background:none; float:none; width:100%; height:auto; line-height:normal;}
ul.rating_buttons li ul li a{padding:7px 10px;}
ul.rating_buttons li ul li a:hover{border-radius:0px;} 

ul.rating_buttons li.disable a{ background-color:#666; border-radius:5px;}
ul.rating_buttons li.disable a:hover{ border-radius:5px; background-color:#666; cursor:default;} 


.news_item{width:100%; border-bottom:solid 4px #DDD; margin-bottom:20px; background-color:#F8F8F8; padding:15px; border-radius:7px;}
.news_item p{margin-bottom:10px; line-height:150%; font-size:12px; text-shadow:1px 1px 0px #FFF;}
.news_item p.title{font-size:15px; color:#038FD5; margin-bottom:7px; line-height:120%; text-shadow:0px 0px 2px #FFF; font-family:'RobotoCondensed-Regular'; font-weight:bold;}
.news_item p.date{font-size:11px; color:#666; margin-bottom:7px; line-height:100%;}

.rating_buttons ul li{ list-style-type:none; display:inline-block; background-color:#0695DE; text-align:center; width:52px; height:33px; border-radius:5px; position:relative;}
.rating_buttons ul li a{ display:block; color:#FFFFFF; }
.rating_buttons ul li a:last-child{ margin-right:0px;}
.rating_buttons ul li a:hover{ background-color:#333333; border-radius:5px;}
.rating_buttons ul li:hover > ul{ display:block;}
.rating_buttons ul li ul{ width:100px; background-color:#0695DE; display:none; position:absolute; top:33px; left:0px; border-radius:0px 5px 5px 5px; padding:5px 0px; }
.rating_buttons ul li ul li{ color:#FFFFFF; width:100%; text-align:left; height:auto; border-radius:none; padding:5px 10px;}
.rating_buttons ul li a:hover{ background-color:transparent;} 
.rating_buttons ul li.disable a{ background-color:#666; border-radius:5px;}
.rating_buttons ul li.disable a:hover{ border-radius:5px; background-color:#666; cursor:default;} 
.list_view{margin-top:20px; display:none;}
.list_view .row{border-bottom:solid 1px #CCCCCC; padding-bottom:20px; margin-bottom:20px;}
.list_view ul{border-bottom:solid 1px #ccc;}
.list_view ul li{list-style-type:none; padding:7px 0px; word-wrap:break-word;}
.list_view ul li.left{width:25%; padding-right:10px; background-color:#EEE; border-right:solid 1px #999; padding-left:10px;}
.list_view ul li.right{width:75%; padding-left:10px;}


.table{width:100%; font-size:13px; font-family:Arial, Helvetica, sans-serif; border-radius:7px; overflow:hidden;}
.table .head{padding:10px 10px; background-color:#696969; color:#FFFFFF;}
.table .row{padding:10px 10px; color:#000000; border-bottom:solid 1px #CCCCCC; background-color:#FFFFFF;}
.table .row.color{background-color:#f2f2f2;}
.table .col{padding:0px 5px; float:left; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; line-height:130%; word-wrap:break-word;}
.table .col.col1{width:10%;}
.table .col.col2{width:10%;}
.table .col.col3{width:10%;}
.table .col.col4{width:20%;}
.table .col.col5{width:20%;}
.table .col.col6{width:20%;}
.table .col.col7{width:10%;}

.table .col a{color:#000; text-decoration:none;}
.table .col a:hover{color:#009CD5;}

.float_right{ float:right; }

.alert{width:100%; background-color:#F2DEDE; border-radius:6px; position:relative; margin-bottom:16px;}
.alert_inner{padding:15px;}
.alert .close{position:absolute; top:5px; right:15px; color:#C1B1B1; z-index:10; text-shadow:1px 1px 1px rgba(255,255,255,0.65);}
.alert .close:hover{cursor:pointer; color:#000000;}
.alert h1{font-size:20px; color:#B94A48; margin:0px; padding:0px; margin-bottom:5px;}
.alert p{margin:0px; padding:0px; color:#B94A48; font-size:13px;}
label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; position: absolute;
top: 10px; }

.alert{width:100%; background-color:#F2DEDE; border-radius:6px; position:relative; margin-bottom:16px;}
.alert_inner{padding:15px;}
.alert .close{position:absolute; top:5px; right:15px; color:#C1B1B1; z-index:10; text-shadow:1px 1px 1px rgba(255,255,255,0.65);}
.alert .close:hover{cursor:pointer; color:#000000;}
.alert h1{font-size:20px; color:#B94A48; margin:0px; padding:0px; margin-bottom:5px;}
.alert p{margin:0px; padding:0px; color:#B94A48; font-size:13px;}
label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }

.pagination{float:right;}
.pagination ul{height:26px; float:right; border-bottom: solid 0px; }
.pagination ul li{list-style-type:none; height:26px; line-height:26px; margin-right:4px; float:left;  padding: 0px 0px; }
.pagination ul li a{display:block; padding:0px 10px; color:#333333; text-decoration:none; text-shadow:1px 1px 0px #FFF; font-weight:bold; border:solid 1px #AFAFAF; box-shadow:inset 0px 0px 1px #FFF, 0px 1px 1px rgba(0,0,0,0.10); border-radius:4px;
background-image:linear-gradient(#FCFCFC, #F4F4F4);
background-image:-webkit-linear-gradient(#FCFCFC, #F4F4F4);
background-image:-moz-linear-gradient(#FCFCFC, #F4F4F4);
background-image:-ms-linear-gradient(#FCFCFC, #F4F4F4);
background-image:-o-linear-gradient(#FCFCFC, #F4F4F4);
}

.pagination ul li.active a{background-image:none; background-color:#0088CC; color:#FFFFFF; text-shadow:none;}
.pagination ul li a:hover{background-image:none; background-color:#0088CC; color:#FFFFFF; text-shadow:none;}
.disable_color a:hover{ cursor:default; background-color:#000; }
.pagination ul li span{display:block; padding:0px 10px; color:#333333; text-decoration:none; text-shadow:1px 1px 0px #FFF; font-weight:bold; border:solid 1px #AFAFAF; box-shadow:inset 0px 0px 1px #FFF, 0px 1px 1px rgba(0,0,0,0.10); border-radius:4px;
background-image:linear-gradient(#FCFCFC, #F4F4F4);
background-image:-webkit-linear-gradient(#FCFCFC, #F4F4F4);
background-image:-moz-linear-gradient(#FCFCFC, #F4F4F4);
background-image:-ms-linear-gradient(#FCFCFC, #F4F4F4);
background-image:-o-linear-gradient(#FCFCFC, #F4F4F4);
cursor:default;
}


.img_right_left{float:left; width:40%; overflow:hidden;}
.mSearch_field{padding-top:10px;}
.flexslider{max-height:250px; overflow:hidden; margin-bottom:15px;}
.featured .prod_left{ width:70%; padding-right:10px; }
.featured .prod_right{ width:30%; }
.detail_image{
	position:relative;
	background-position:center;
	background-size:contain;
	background-color:#333333;
	min-height:260px;
	max-height:240px;
	width:100%;
	background-repeat:no-repeat;
	overflow:hidden;
	border-radius:4px;
}

.detail_image .float_right{
	width:11%;
	height:11%;
	position:relative;
	float:right;
	margin: 6px 8px 0px 0px; 
}

.detail_image .opcasy{
	position:absolute;
	width:100%;
	height:29%;
	bottom:0px;
	left:0px;
	background-color: rgba(27,135,185,0.30);
}

.detail_image .float_left{
	width:11%;
	height:11%;
	position:relative;
	float:left;
	margin: 4px 0px 0px 8px; 
}

.detail_image .float_bottom_right{
	width:11%;
	width:11%;
	height:11%;
	position:relative;
	float:right;
	margin: 4px 8px 0px 0px; 
}
