@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('robotocondensed-regular.eot');
    src: url('robotocondensed-regular.eot') format('embedded-opentype'),
         url('robotocondensed-regular.woff') format('woff'),
         url('robotocondensed-regular.ttf') format('truetype'),
         url('robotocondensed-regular.svg#RobotoCondensedRegular') format('svg');
}
